<!DOCTYPE html>
<html>
<head>
	<!--<img src="favicon.jpeg">-->
	<title> Shortcut | Custom URL Shortener, Link Management & Branded Links </title>
	<link rel="icon" href="/static/images/favicon.png" type="image/png">
	<!-- Bootstrap Files-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/Bootstrap/bootstrap.min.css">

	<!-- manual CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css2/style.css">

</head>
<body class="main-layout">

<!-- Javascript files-->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery-3.0.0.min.js"></script>
<script src="/static/js/plugin.js"></script>
<!-- sidebar -->
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="/static/images/loading.gif" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <div class="header-top">
      <div class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo">
                    <a href="index.html"><img src="/static/images/sc2.jpeg" alt="#" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

               <div class="menu-area">
                <div class="limit-box">
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li> <a href="#about">Why Shortcut</a> </li>
                      <li> <a href="#">Features</a> </li>
                      <li> <a href="/Login">Login</a> </li>
                      <li> <a href="/SignUp">Signup</a> </li>
                     <li> <a href="#"><img src="/static/icon/icon_b.png" alt="#" /></a></li>
                     </ul>
                   </nav>
                 </div>
               </div>
              </div>
           </div>
         </div>
       </div>
     </div>
     <!-- end header inner -->

     <!-- end header -->
     <section class="slider_section">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div style="background-color: #ffffff;" class="container-fluid padding_dd">
              <div class="carousel-caption">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-bg">
                     <span>Welcome To ShortCut</span>
                      <h1>A urlshortner</h1>
                      <p>Here you can do what you want like rename your URL with your name  </p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="images_box">
                      <figure><img src="/static/images/cv.jpg"></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">

            <div style="background-color: #ffffff;" class="container-fluid padding_dd">
              <div class="carousel-caption">

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-bg">
                      <span>Welcome To ShortCut</span>
                      <h1>A Shortner</h1>
                      <p>Here you can do what you want like rename your URL with your name</p>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="images_box">
                      <figure><img src="/static/images/cv2.jpg"></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="carousel-item">

            <div style="background-color: #ffffff;" class="container-fluid padding_dd">
              <div class="carousel-caption ">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="text-bg">
                      <span>Welcome To Shortcut</span>
                      <h1>A Shortcut</h1>
                      <p>Here you can do what you want like rename your URL with your name </p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="images_box">
                      <figure><img src="/static/images/us.jpeg"></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

</section>
</header>
	<!--- Header Part -->


	<!--- Header Part Ends-->
			<div class="container-fuild" style=" margin-top:10px; ">
				<div class="container" >
					<div class="row">
						 <div class="col-md-7" >
						 	<div class="row" style="margin-top:20%">
						 		<h1><b>Create Click-Worthy Links</b></h1>
						 		<h5>Build and protect your brand using powerful, recognizable short links.</h5>
						 	</div>
						 	<div class="row" style="margin-top: 30px;">
						 		<div class="col-md-5" >
						 			<div class="btn1">
						 				Get Started for Free
						 			</div>
						 			<div >
						 				<center><a href="#" style="text-decoration: none">Get a Quote</a></center>
						 			</div>
						 		</div>
						 	</div>
						 </div>
						 <div class="col-md-5 img1">
						 	<img src="/static/images/cv3.png" width="150%">
						 </div>
					</div>
				</div>
			</div>
			<div class="container-fuild" style="margin-top: 30px; background-color: #0B1736;">
                <form action="/urlshortner" method="get">
				<div class="container">
					<div class="row" style="padding:20px 0px 20px 0px; ">
						<div class="col-md-8">
								<input type="text" name="link" placeholder="Shorten your link" pattern = "https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,}" title="Please Enter Valid Url" required>
							    <input type="text" name="link1" placeholder="Custom link" pattern="[A-Za-z0-9_.-]+" minlength="4" maxlength="6">
						</div>
						<div>
							<button type="submit" class="button" style="background-color: rgb(70,2,255); color: white">Shorten</button>
						</div>
					</div>
						 <div id="myInput">
                             <a class="url" href="{{url}}">{{ finalencryptedurl }}</a>
						</div>
				</div>
				</form>
						<div class="col-md-8">
							<label style="color:#818797;">
								By clicking SHORTEN, you are agreeing to Shortcut <a style="color: blue" href="https://bitly.com/pages/terms-of-service">Terms of Service</a>  and <a style="color: blue" href="https://bitly.com/pages/privacy"> Privacy Policy</a>
							</label>
						</div>
					</div>
<script>
function myFunction() {
  /* Get the text field */
  var copyText = {{ finalencryptedurl }}

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>

</body>
</html>