<html>
    <head>
        <title>Update Password</title>
        <link rel="icon" href="/static/images/favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="/static/css1/style1.css">
        <body>
            <div class="Sign-In-Form">
                <img src="/static/user-Icon.png">
                <h1>Update Password</h1>
                <form action="updatepassword">
                    <input type="hidden" value ="{{email}}" name="email" required>
                   <input type="text" class="input-box" placeholder="Otp send on email" name="otp" minlength="6" maxlength="6" required><br><br>
                   <input type="password" class="input-box" placeholder="Enter New password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Password should be minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character like _,$ " name="new-psw" required><br><br>
                    <p><span></span></p>
                    <button type="submit" class="login-btn">Verify</button>
                   <hr>
                </form>
                {{error}}
            </div>
        </body>
</html>